<div class="todo-list">
  <h2>Todo list</h2>
  <ul *ngIf="tasks$ | async as tasks; else emptyTasksTemplate" class="tasks">
    <li *ngFor="let task of tasks" class="todo-list-item task-{{task.status}}">
      <span class="task-number">{{task.id}}</span>
      <span class="task-title">{{task.title}}</span>
      <span class="task-status-{{task.status}}">{{task.status | uppercase}}</span>
      <div class="todo-list-item-btns">
        <span *ngIf="task.pomodoro > 0" class="task-pomodoro-amount" title="{{task.pomodoro}} pomodoro">{{task.pomodoro}}<span class="task-pomodoro"></span></span>
        <button class="todo-list-item-btn btn-change-status" (click)="toggleTask(task)">{{ (task.status == TaskStatusType.IN_PROGRESS ? "Stop" : "Start") }}</button>
        <button class="todo-list-item-btn btn-edit" (click)="toogleTaskPopup(editTaskPopupText, TaskPopupModes.EDIT_MODE, task)">Edit</button>
        <button class="todo-list-item-btn btn-delete" (click)="deleteTask(task)">Delete</button>
        <button class="todo-list-item-btn btn-done" (click)="closeTask(task)">{{ (task.status == TaskStatusType.DONE ? "Reopen" : "Done") }}</button>
      </div>
    </li>
  </ul>

  <nav class="task-nav">
    <button (click)="toogleTaskPopup(addTaskPopupText, TaskPopupModes.ADD_MODE)" class="new-task">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </nav>

  <div *ngIf="taskPopup$ | async as taskPopup">
    <div *ngIf="taskPopup.open" class="fade">
      <div class="task-popup">
        <h4>{{taskPopup.templText.TITLE}}</h4>
        <label>
          <p>{{taskPopup.templText.DETAIL_SENTENCE}}</p>
          <input [(ngModel)]="taskTitle" placeholder="task title" class="popup-task-input" autofocus/>
        </label>
        <div class="popup-task-btns">
          <button *ngIf="taskPopup.mode == TaskPopupModes.ADD_MODE; else editTaskTemplate" (click)="addTask(taskTitle)" class="popup-task-ok">
            add
          </button>
          <button (click)="toogleTaskPopup()" class="popup-task-cancel">cancel</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyTasksTemplate>
    <div class="empty-tasks-template">
      You don't have tasks. Enjoy your day!
    </div>
  </ng-template>

  <ng-template #editTaskTemplate>
    <button (click)="editTask(taskTitle, task)" class="popup-task-ok">
      edit
    </button>
  </ng-template>

</div>

