.active-task {
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	font-size: 1.3em;
	min-height: 125px;
}

.active-task-value {
	margin-top: 15px;
	display: inline-block;
	vertical-align: middle;
	padding: 13px 18px;
	background-color: #dedede;
	color: #000;
	border-radius: 4px;
 }
 .active-task-id {
 	background: #c1c1c1;
 	border-radius: 3px;
 	padding: 2px 8px;
    margin-right: 5px;
 }