<div class="active-task">
  <div class="active-task-status">
    <div *ngIf="activeTask; else noActiveTemplate" class="">
      <div class="">Active Task:</div>
      <div class="active-task-value">
        <span class="active-task-id">{{activeTask.id}}</span> {{activeTask.title}}
      </div>
    </div>
  </div>
</div>

<ng-template #noActiveTemplate>
  <div class="noactive-task-template">
    No active tasks yet.
  </div>
</ng-template>


<!-- <div class="active-task-id">
test
</div>

 -->