<div class="statistics">
  <h2>Statistics</h2>
  <ul class="stats-list">
    <li class="stats-list-item">
      <h3>Average pomodoro per task:</h3>
      <p class="stats-important">{{pomodoroPerTask}}</p>
    </li>
    <li class="stats-list-item">
      <h3>Average pomodoro per day:</h3>
      <p class="stats-important">{{pomodoroPerDay}}</p>
    </li>
    <ul *ngIf="topTasks" class="stats-list-item">
      <h3>Top tasks by spent pomodoro:</h3>

      <div class="select-range">
        <div class="">Select range:</div>
        <div class="range-slider">
          <span class="range-slider__left-marker">{{minValue}}</span>
          <input value="1" min="1" max="{{maxPomodoroAmount}}" step="1" type="range" [(ngModel)]="minValue" (change)="updateRange(minValue, maxValue)">
          <input value="{{maxPomodoroAmount}}" min="1" max="{{maxPomodoroAmount}}" step="1" type="range" [(ngModel)]="maxValue" (change)="updateRange(minValue, maxValue)">
          <span class="range-slider__right-marker">{{maxValue}}</span>
        </div>
      </div>

      <li *ngFor="let pomodoros of topTasksKeys" class="top-task-item">
        <span class="stats-important pomodoro-amount">
          {{pomodoros}}
          <span class="task-pomodoro"></span>:
        </span>
        <ul>
          <li>
            <div class="stats-semi-important" *ngFor="let task of topTasks[pomodoros]">{{task.title}}</div>
          </li>
        </ul>
      </li>
    </ul>
  </ul>
</div>
