.statistics {
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.stats-important {
  font-size: 1.3em;
  font-weight: bold;
}

.stats-list {
  background-color: #dedede;
}

.stats-list-item {
  padding: 15px;
  border-bottom: 1px dashed #7f7f7f;
}

.stats-list-item:first-child {
  border-top: 1px dashed #7f7f7f;
}

.pomodoro-amount {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.stats-semi-important {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.task-pomodoro {
  margin: 0;
}

.top-task-item {
  background: #f1dbdb;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border: 1px dotted #dedede;
}

.top-task-item:last-child {
  margin: 0;
}

.select-range {
  font-size: 1.1em;
  text-align: center;
}

.range-slider {
  display: inline-block;
  position: relative;
  width: 310px;
  margin-bottom: 25px;
  height: 35px;
  text-align: center;
}

.range-slider:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  background: #f99;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 35px;
  z-index: 0;
}

.range-slider__left-marker {
  position: absolute;
  top: 14px;
  left: -20px;
}

.range-slider__right-marker {
  position: absolute;
  top: 14px;
  right: -20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 300px;
}

.range-slider input[type=range] {
  pointer-events: none;
  background: transparent;
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 35px;
  z-index: 1;
}

.range-slider input[type=range]::-moz-range-track {
  pointer-events: none;
  position: absolute;
  background: transparent;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 35px;
  z-index: 1;
}

input[type=range]:focus {
  outline: none;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8));
  cursor: pointer;
  z-index: 1;
   transition: all 0.3s
}

.range-slider input[type=range]::-webkit-slider-thumb:hover,
.range-slider input[type=range]::-webkit-slider-thumb:active {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.19);
  transition: all 0.3s
}

.range-slider input[type=range]::-ms-track {
  pointer-events: none;
  position: absolute;
  background: transparent;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 35px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.range-slider input[type=range]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8));
  cursor: pointer;
  z-index: 1;
   transition: all 0.3s
}

.range-slider input[type=range]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8));
  cursor: pointer;
}

.range-slider input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
