<div class="timer">
<ul class="timer-btns">
	<li class="timer-btn-play"><button (click)="startTimer(5, { type: TimerType.POMODORO })" class="btn btn-start-pomodoro">New Pomodoro</button></li>
	<li class="timer-btn-short"><button (click)="startTimer(0.1, { type: TimerType.BREAK })" class="btn btn-start-short">Short break</button></li>
	<li class="timer-btn-long"><button (click)="startTimer(15, { type: TimerType.BREAK })" class="btn btn-start-long">Long break</button></li>
</ul>

<div class="timer-digits">{{timeleft | secondsToTime}}</div>

<div *ngIf="timer$ | async as timer">
<ul *ngIf="timer.active" class="timer-btns timer-bottom-btns">
	<li  class="timer-btn-pause"><button (click)="pauseTimer()" class="btn btn-pause">Pause timer</button></li>
	<li class="timer-btn-resume"><button (click)="resumeTimer()" class="btn btn-resume">Resume timer</button></li>
	<li class="timer-btn-stop"><button (click)="stopTimer()" class="btn btn-stop">Stop timer</button></li>
</ul>
</div>
<app-active-task></app-active-task>
</div>
<app-todo-list></app-todo-list>