ul {
  text-align: center;
  padding-top: 30px;
}

ul li {
  display: inline-block;
  margin: 0 15px;
}

ul li .btn {
  cursor: pointer;
}

ul .timer-btn-play .btn {
  background: linear-gradient(to bottom, rgba(250, 90, 90, 1) 0%, rgba(232, 81, 81, 1) 100%);
}

ul .timer-btn-long .btn,
ul .timer-btn-short .btn {
  background: linear-gradient(to bottom, rgba(102, 152, 203, 1) 0%, rgba(92, 138, 184, 1) 100%);
}
ul .timer-btn-resume .btn,
ul .timer-btn-pause .btn  {
  background: linear-gradient(to bottom, rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
}

.timer-digits {
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
}
