.history {
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 40px;
}

.history-list {
  background-color: #dedede;
}

.history-list-item {
  padding: 15px;
  padding-bottom: 35px;
  border-bottom: 1px dotted #666;
  transition: all 0.3s
}

.history-list-item:first-child {
  border-top: 1px dotted #666;
}

.history-list-item:hover {
  background-color: #f1dbdb;
  transition: all 0.3s
}

.history-day {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: underline;
  font-size: 1.1em;
}

.daily-history {
  list-style-type: decimal;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  font-family: sans-serif;
  line-height: 1.5;
}

.daily-history-item {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #bfbebe;
}

.pomodoro-amount {
  float: right;
}

.daily-total {
  float: right;
}

.empty-history-template {
  font-size: 1.4em;
  color: #699;
}
