<div class="history">
  <h2>History</h2>
  <ul *ngIf="!isEmptyObject(tasksByDay); else emptyHistoryTemplate" class="history-list">
    <li *ngFor="let day of historyKeys" class="history-list-item">
      <span class="history-day">
        	{{tasksByDay[day][0].completeDate | millisecondsToDate}}:
      </span>
      <ul class="daily-history">
        <li *ngFor="let task of tasksByDay[day]">
          <div class="daily-history-item">{{task.title}}
          	<div class="pomodoro-amount">{{task.pomodoro}}
          		<span class="task-pomodoro"></span>
          	</div>
          </div>
        </li>
        <div class="daily-total">Total: {{countTotalDailyPomodoro(tasksByDay[day])}}<span class="task-pomodoro"></span></div>
      </ul>
    </li>
  </ul>
  <ng-template #emptyHistoryTemplate>
    <div class="empty-history-template">
      The history is empty.
    </div>
  </ng-template>
</div>
